// Transition
$transition-anim: cubic-bezier(0.25, 0.1, 0.25, 1);

// Fonts
$font-main: Redcollar, sans-serif !default;
$font-second: TTCommons, sans-serif !default;

// Colors
$white: #FFFFFF;
$accent: #F51B1B;
$black: #000000;
$dark-main: #0D0C0C;
$dark-second: #14161A;
$grey-dark: #454B57;
$grey-main: #B3B3BC;
$grey-second: #A4A4A4;
$grey-light: #EFEFEF;
$light: #FAFAFA;
$pink-light: #EFDAFC;
$violet: #6C27A3;
$green: #23AE00;

$bg-color: $white;
$text-color: $dark-main;

// Sizes
$screen-max-width: 1920;
$screen-min-width: 1280px;