@import 'src/shared/UI/helpers';

.avatar {
  position: relative;
  border-radius: 50%;
  background: $grey-light;
  overflow: hidden;

  &__img {
    object-fit: contain;
  }

  &__no-photo {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: bottom center;
    height: 90%;
  }
}