@import 'src/shared/UI/helpers';

.logo {
  display: flex;
  align-items: center;
  @include adaptiv-value('gap', 36, 32);

  &__text {
    font-family: $font-main;
    color: $black;
    @include adaptiv-font(26, 24);
    line-height: 120%;
    letter-spacing: -0.02em;
  }
}