@import 'src/shared/UI/helpers';

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $font-main;
  @include adaptiv-value('margin-bottom', 104, 88);

  &__title {
    display: flex;
    align-items: center;
    gap: 20px;

    &-text {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: -0.04em;

      & span {
        color: $accent;
        display: inline;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: flex-end;
    @include adaptiv-value('gap', 134, 88);
  }
}